*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    width: 100%;
    padding: 30px 200px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #F0F0F0;
    font-family: sans-serif;

    .left_side, .right_side {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .left_side span, .right_side span {
        transition: .5s ease;
        cursor: pointer;
    }

    .left_side span:hover , .right_side span:hover {
        color: rgb(68, 68, 68);
    }

    .right_side img {
        cursor: pointer;
    }
}


.modal {
    display: none;
    width: 600px;
    height: 330px;
    background: #80c7eb;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    transition: 1s ease;
    padding-top: 25px;
    padding-left: 30px;

    h2 {
        font-size: 30px;
        color: white ;
        font-family: sans-serif;
    }


    .btns {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        margin-top: 210px;
        margin-right: 40px;
    }

    .btnOut {
        all: unset;
        padding: 10px 45px;
        text-align: center;
        background-color: blue;

        color: white;

        font-size: 20px;
        font-family: sans-serif;
        cursor: pointer;
    }

    .btnExit {
        all: unset;
        padding: 10px 45px;
        text-align: center;
        background-color: red;

        color: white;

        font-size: 20px;
        font-family: sans-serif;

        margin-left: 20px;
        cursor: pointer;
    font-family: 'Montserrat';
}
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

:root {
    --blue-main: #0047FF
}

center {
    width: 100%;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    padding: 50px;
}

h1 {
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 40px;
    input, #currency {
        all: unset;
        border-radius: 10px;
        border: 1px solid black;
        padding: 20px 25px;
        text-align: start;

        &::placeholder {
            font-size: 18px;
            font-weight: bold;
            color: black;
        }
    }

    button {
        all: unset;
        padding: 20px 25px;
        background-color: var(--blue-main);
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        border-radius: 10px;
        text-align: center;
    }

    #currency {
        width: 340px;
        padding: 25px;
    }
    
}

.card {
    color: white;
    width: 270px;
    height: 170px;
    border-radius: 15px;
    background: linear-gradient(84.37deg, #D7816A 2.27%, #BD4F6C 92.26%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h1,
h3 {
    padding: 10px 20px;
    color: white;
}

#a {
    color: #0047FF;
}

.i {
    padding: 10px 10px;
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
    height: 400px;
    background-color: green;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

body .i .container {
    display: flex;
}

.card {
    width: 400px;
    height: 300px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.wrapper {
    width: 70%;
    margin: 40px auto;

    h2 {
        margin-bottom: 20px;
        color: black;
    }
    button {
        all: unset;
        background-color: #0047FF;
        color: white;
        font-size: 18px;
        padding: 18px 100px;
        border-radius: 14px;
        margin-left: 20px;
        margin-top: 20px;
        cursor: pointer;
        &:active {
            scale: .8;
        }
    }

    .card-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;

        .card-item {
            width: 310px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            border-radius: 20px;
            background: linear-gradient(84.37deg, #5F0A87 2.27%, #A4508B 92.26%);
            padding: 20px;
            height: 200px;

    
            h2, span {
                color: white;
            }
    
        }
    
    }
}

.home_top {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 200px;
    padding-top: 50px;
}

.gmail {
    color: #0047FF;
}


.topSide {
    margin-top: 60px;
    margin-left: 200px;
}


.blue {
    all: unset;
    background-color: #0047FF;
    color: white;
    font-size: 18px;
    padding: 18px 100px;
    border-radius: 14px;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
    &:active {
        scale: .8;
    }
}