@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
table {
  width: 70%;
  max-width: 1920px;
  margin-top: 50px;
}
thead {
  text-align: start;
  color: #B9C0D1;
}
th {
  text-align: start;
  padding: 10px;
}
.h1{
  font-size: 30px;
}
.a{
  color: #0047FF; 
  font-size: 25px;
  position: relative;
  top: 30px;
}

